//colores//
$maincolor: rgb(220, 230, 0);
$colorsecundario: rgb(190, 240, 11);
$colorterciario: rgb(11, 194, 123);
$white: #fff;
$black: #000000;

//fuentes//
$mainfont : "Open Sans", sans-serif;
$fuentenormal  : Verdana;
$fuentetitulo  : Helvetica;

//wheigt//
$textlight : 300;
$textregular : 400;
$textBold : 500;

//sizes//
$textSM: 16px;
$textMD: 20px;
$textLG: 30px;

//width//

$widthSM: 100%;
$widthMD: 200px;
$widthLG: 300px;

