//colores//
$maincolor: rgb(220, 230, 0);
$colorsecundario: rgb(40, 136, 99);
$colorterciario: rgb(11, 194, 123);
$white: #fff;
$black: #000000;

//fuentes//
$mainfont : "Open Sans", sans-serif;
$fuentenormal  : Verdana;
$fuentetitulo  : Helvetica;

//wheigt//
$textlight : 300;
$textregular : 400;
$textrBold : 500;

//sizes//
$textSM: 0.8em;
$textMD: 1em;
$textLG: 2em;


