/*:::::index-body*/
.titulo {
    display: flex;
    padding: 50px 0px;
    gap: 50px;
    justify-content: center;
    margin-top: 5px;
  }
  .mark1 {
    width: 300px;
    transform: scaleX(-1);
  }
  .titulo .texto {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .titulo .imagen {
    display: flex;
    flex-direction: column;
    align-self: end;
  }
  

/*:::::header*/
nav {padding: 0;}

.navbar-expand-lg {padding: 0;}

.navbar-expand-lg .navbar-collapse {
    padding: 0;
    justify-content: end;
  }
.logo img{height: 50px ; 
              margin-right: 10px }
    
a{text-decoration: none;
    color: #000000}
nav a { font-weight: 600;
        padding: 10px}

.container-fluid { background-color: #288863 ;
    gap: 200px;
    padding: 20px 0;
}
.collapse{ padding-left: 550px ;
           font-weight: 350px ; }
li { margin-right: 20px;
     font-size: medium;
    font-style: oblique}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #288863;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}


/*:::::Formulario*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container-form{
    padding: 50px;
    display: flex;
    gap: 15px;
}
form {
    display: flex;
    flex-direction: column;}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: rgb(190, 240, 11);
    margin-right: 10px;
    margin-bottom: 70px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: rgb(190, 240, 11);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #e39403;
}


/*:::::conociendo*/

.conociendo {text-align: center;}


  .mark1 {
    width: 300px;
    transform: scaleX(-1);
  }
  .titulo .texto {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .titulo .imagen {
    display: flex;
    flex-direction: column;
    align-self: end;
  }

  .reunion {display: flex;
             padding-top: 5%;
             }

  .reunion-general { width: 400px; 
                     margin-left: 50px; 
                     margin-right: 50px;
                     margin-bottom: 50px;}
 
   .reuniontext {display: flex;
    padding: 110px 0px;
    justify-content: center;
    margin-top: 5px;}

    /*:::::servicios*/

    .mark3 {width: 300px;
            justify-content: center;}
    
    .textoservicio p {padding: 5px;
                font-size: 25px;}

    .servicios3{text-align: center;
               padding: 5px;
               font-size: 20px;}

    .engine1{width: 400px;
        display: flex;
        padding: 50px
            ;}
    .engine2{width: 400px;
        display: flex ;
        padding: 50px;}

   .servicios {display: flex;
            justify-content: center;
             margin: 0 50px;}

    /*:::::Formacion*/

    
    .form {margin-top: 15px;
        margin-bottom: 50px;}

    .form p{ padding: 5px;
    font-size: 25px;}
    
    .formaciontext {text-align: center; margin-bottom: 25px;}
   

    .formacion {display: flex;
        gap: 30px;
        }
    
    .clasesimg {padding: 50px;}

    .clases { width: 400px; 
               border-radius: 5%;}

    .clasestext {display: flex;
        padding: 80px 50px;
        justify-content: center;
    font-size: 25px;}
           

.users {display: flex;
    padding-top: 5%;}
    
.usuario {width: 200px; 
    margin-left: 50px; 
    margin-right: 50px;
    margin-bottom: 50px;
   border-radius: 5%;}

.usertext {display: flex;
padding: 110px 0px;
justify-content: center;
margin-top: 5px;}

.opinion {text-align: center;}

/* Medidas mobile */

@media screen and (max-width: 769px) {
    nav .container-fluid {
        display: block !important; 
        padding: 0;

      }
      nav .navbar-collapse {
        padding: 0;
      }
    .pie-pagina .grupo-1 {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 10px;
    }
    .pie-pagina .grupo-1 .box {
        margin: 0;
        display: flex; 
       flex-direction: column;
       gap: 10px;

    }
    .pie-pagina .grupo-1 .box p {
        font-size: 10px;
    }

    .titulo {
      flex-direction: column;
      padding: 50px 0px;
      align-items: center;
      margin-top: 5px;
    }
    .titulo .imagen {
        align-self: center;
    }
    .form{ padding: 0px 10px;}
    
    .formacion { flex-direction: column; 
        padding: 0px 10px; 
        gap: 20px;}
    
    .formacion .clasesimg {
        display:flex;
        align-self: center;
    }
    .formacion img{margin: 0;
        width: 250px;}
    .formacion .clasestext{ padding: 0;}

    .container-form{flex-direction: column;}
    
    .container-form form textarea {
            max-width: 100%;
            min-width: auto;
          }
    .servicios .engine1 {
        display: flex;
        flex-direction: column;
        align-self: end; 
    }
    .textoservicio p {padding: 5px;
        font-size: 20px;}
    
    .engine1{width: 200px;
            display: flex;
            padding: 50px
                ;}
    .engine2{width: 200px;
            display: flex ;
            padding: 50px;}
    
    .reunion { flex-direction: column; 
        padding: 15px 15px; 
        gap: 10px;}
        
    .reunion .reunion-general {margin: 0;
        width: 350px;}
  }